[submodule "solarized/gnome-terminal-colors-solarized.symlink"]
	path = solarized/gnome-terminal-colors-solarized.symlink
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "bin/gn-src"]
	path = bin/gn-src
	url = git://github.com/holygeek/git-number.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
